@if (ViewBag.ConteoNacionalidad != null)
{
    <h3>Resultados del Conteo por Nacionalidad</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nacionalidad</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ConteoNacionalidad)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
